@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <ul>
        @foreach (var user in Model.Users)
        {
            <li>@user.Name.First @user.Name.Last</li>
        }
    </ul>
</div>
